@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:root{
    --primaryColor: #48b59a;
    --secondaryColor: #26272f;
}
a, button{
    text-decoration: none;
    transition: 0.3s;
    color: aliceblue;
}
a:hover , button:hover{
    opacity: 0.7;
    cursor: pointer;
}
/* ------------------------------------------------------------------------------------------------------------------------- */
.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--secondaryColor);
    overflow-x: hidden; 
    width: 100vw;
    color: aliceblue;
}
.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 8vh;
    padding: 0vh 15vw;
    z-index: 1;
    background-color: var(--primaryColor)
}
/* ---------------------------------------------------------------------------------------------------------------------------- */
#nav{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#nav-button{
    background-color: transparent;
    border: none;
}
#nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    transform: translateX(-100%);
    top: 8vh;
    left: 0;
    width: 30vw;
    height: 92vh;
    background-color: var(--primaryColor);
    list-style: none;
    transition: transform 0.3s ease-in;
}
#nav-list button{
    width: 80%;
    height: 20%;
    background-color: #545669;
    color: black;
}
#nav.active #nav-list{
    transform: translateX(0%);
}
#iconMenu{
    display: block;
    background-color: none;
    border-top: 2.5px solid aliceblue;
    width: 20px;
}
#iconMenu:hover{
    cursor: pointer;
}
#iconMenu::after, #iconMenu::before{
    content: "";
    color: aliceblue;
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
}
#nav.active #iconMenu{
    border-top-color: transparent;
}
#nav.active #iconMenu::before{
    transform: rotate(135deg);
}
#nav.active #iconMenu::after{
    transform: rotate(-135deg);
    top: -7px;
}
/* ------------------------------------------------------------------------------------------------------------------- */
.div-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 10px;
}
.div-search input{
    width: 100%; 
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}
.div-perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.div-perfil img{
    width: 40px;
}
/* -------------------------------------------------------------------------------------------- */
.main{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin-top: 20px;
}
.main h1{
    color: var(--primaryColor);
    font-size: 50px;
}
.products-section{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 515px;
    margin: 30px 5px;
    border: 5px solid #545669;
    background-color: rgb(207, 207, 207);
    color: black;
}
.card img{
    width: 100%;
    height: 300px;
}
.card h3{
    margin: 5px;
}
.card div{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 100%;
}
.hidden{
    display: none;
}
